<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Core War Programming Environment</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="corewar.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="icws94.js" type="text/javascript"></script>
    <script src="corewar.js" type="text/javascript"></script>
  </head>

  <body ng-controller="CorewarController">
    <div class="container">
      <header>
        <h1>Memory Array Redcode Simulator</h1>
      </header>

      <div class="row">
        <div ng-controller="WarriorsController" class="span3">
          <h2>Warriors</h2>

          <ul ng-show="mars.warriorsInstances.length">
            <li ng-repeat="warriorInstance in mars.warriorsInstances">{{warriorInstance.warrior.name}}</li>
          </ul>

          <form>
            <input id="file" type="file" onchange="angular.element(this).scope().load(this)">
          </form>
        </div>

        <div ng-controller="BattleController" class="span9">
          <h2>The battle!</h2>

          <div id="mars">
            <span ng-repeat="cellDisplay in marsDisplay.cellDisplays" style="background: {{cellDisplay.getBackground()}}; border: solid 1px {{cellDisplay.getBorder()}}" title="{{cellDisplay.getTooltip()}}"></span>
          </div>

          <div id="control">
            <button ng-click="start()" ng-disabled="!canStart()" class="btn btn-primary">Start</button>
            <button ng-click="stop()" ng-disabled="!canStop()" class="btn">Stop</button>
            <button ng-click="step()" ng-disabled="!canStep()" class="btn">Step</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
